*{
    font-family: "Montserrat";
    box-sizing: border-box;
}

header{
    display: flex;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 60px;
    }
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100%;
        }
            .logo_side{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 100%;
                width: auto;
                min-width: 25%;
            }
            .nav_elements{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40%;
                height: 100%;
            }
                .nav_elements ul{
                    display: flex;
                    width: 100%;
                    height: 100%;
                    justify-content: flex-end;
                    align-items: center;
                    column-gap: 5%;
                }
                    .nav_elements ul li a{
                        text-transform: uppercase;
                        color: #fff;
                        opacity: .7;
                        transition: .4s all ease;
                    }
                    .nav_elements ul li a:hover{
                        opacity: 1;
                        border-bottom: 1px solid #fff;
                    }
            .callUs{
                display: flex;
                justify-content: flex-end;
                column-gap: 6px;
                width: 30%;
                min-width: 350px;
            }
                .callUs span{
                    color: #fff;
                    text-transform: uppercase;
                }
                .callUs a{
                    color: var(--interactive);
                    font-weight: 600;
                }

            .contact_li{
                display: flex;
                flex-direction: row;
            }
            .contact_li::after{
                display: flex;
                margin-right: 30px;
                align-self: center;
                content: " ";
                width: 1px;
                height: 14px;
                margin-left: 20px;
                background: #fff;
            }

            #hamburger{
                display: none;
                z-index: 20;
            }
@media screen and (max-width: 1060px){
    .contact_li::after{
        display: none;
    }
    .callUs{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        text-align: end;
    }
}

@media screen and (max-width: 360px){
    
    
    nav ul{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
    }

    .logo_side{
        width: 80% !important;
        min-width: 300px;
        justify-content: flex-start !important;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
    }
        .nav_elements{
            width: 100% !important;
        }
            .nav_elements ul{
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-left: 0;
            }
            .callUs{
                flex-direction: column;
                width: 100% !important;
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 10px;
            }
        #hamburger{
            position: absolute;
            display: flex;
            width: 20px;
            height: 12;
            flex-direction: column;
            justify-content: center;
            row-gap: 5px;
            cursor: pointer;
            right: 0;
            border: none;
        }
            #hamburger li{
                width: 100%;
                height: 2px;
                background: #fff;
            }
    
    .nav_elements{
        display: none;
    }
    .callUs{
        display: none;
    }

}



/* Section first */

.sec_1{
    width: 100%;
    min-height: 650px;
    background: url(../images/sec1Background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .99;
    position: relative;
}
    .sec_1::before{
        display: block;
        position: absolute;
        content: " ";
        opacity: .9;
        z-index: -40;
        width: 100%;
        height: 100%;
        background: var(--background);
    }
        .sec1Div{
            margin-top: 150px;
            position: relative;
            display: flex;
            width: 90%;
            justify-content: space-between;
            align-items: center;
        }
        .sec_1 article{
            width: 50%;
            display: flex;
            flex-direction: column;
        }

            article h1{
                color: #fff;
                font-size: 64px;
                text-transform: uppercase;
                font-weight: 900;
                line-height: 72px;
            }
                article h1 span{
                    -webkit-text-stroke: 1px #fff;
                    -webkit-text-fill-color: transparent;
                    text-transform: uppercase;
                    
                    /* fallback */
                    color: #333;
                    font-family: sans-serif, "Montserrat";
                    
                    /* for demo purpose */
                    font-weight: 900;
                    font-size: 90px;
                    text-align: center;
                }
            article p{
                color: #fff;
                width: 100%;
                font-weight: 200;
                line-height: 26px;
            }

    .sec_1 form{
        display: flex;
        max-width: 470px;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        width: 45%;
        height: 450px;
        background: linear-gradient(to bottom, #2A7D6C, #3E69609E);
        justify-content: center;
        margin-bottom: 20vh;
    }
    form h2{
        color: #fff;
        font-size: 28px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20%;
    }
        .inputs{
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 100%;
            height: 250px;
            background: transparent;
            padding: 20px;
        }
            .inputs div{
                width: 48%;
                position: relative;
                background: transparent;
            }
            .inputs div span{
                background-clip: padding-box;
                display: flex;
                top: -8px;
                background: inherit;
                left: 10px;
                color: #fff;
                font-size: 12px;
                position: absolute;
                color: white;
                opacity: 1;
                z-index: 10;
                padding: 0 5px;
            }
            .inputs div input{
                color: #fff;
                width: 100%;
                padding-left: 10px;
                height: 48px;
                border-radius: 2px;
                background: transparent;
                border: 1px solid #fff;
            }
            .inputs div input::placeholder{
                color: #fff;
                opacity: .5;
            }
            select{
                width: 98%;
                height: 48px;
                background: transparent;
                border: 1px solid #fff;
                padding: 0 5px;
                color: #fff;
            }
                form button{
                    width: 220px;
                    height: 56px;
                    background: var(--interactive);
                    border-radius: 4px;
                    cursor: pointer;
                    color: #fff;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    column-gap: 10px;
                    font-size: 18px;
                }

            #bottomSec{
                background: url(../images/sec_1_bottom_normal.png);
                background-position: center;
                background-size: cover;
                width: 100%;
                background-repeat: no-repeat;
                height: 90px;
                position: absolute;
                bottom: -2px;
            }
    @media screen and (max-width: 768px){
        .sec1Div{
            margin-top: 150px;
            flex-direction: column;
            row-gap: 20px;
        }
        .sec1Div article,
        .sec1Div form{
            width: 90%;
            text-align: center;
        }
        #burromSec{
            background: url(../images/sec_1_buttom768.png);
            background-position: center;
                background-size: contain;
                width: 100%;
                background-repeat: no-repeat;
                height: 90px;
        }
    }


/* We understand section */

.weUnderstand{
    width: 100%;
    min-height: 800px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F5F5;
}
    .mainContainer{
        display: flex;
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        min-height: 500px;
    }
        .upperSide{
            display: flex;
            width: 100%;
            height: 180px;
            justify-content: space-between;
        }
        .upperSide img{
            max-width: 370px;
            width: 30%;
        }
        .middleSide{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            height: 50px;
        }
        .middleSide h3{
            font-size: 36px;
            text-transform: uppercase;
            font-weight: 700;
            font-family: "Montserrat";
        }
            .middleSide h3 span{
                -webkit-text-stroke: 1px #000;
                font-family: sans-serif;
                -webkit-text-fill-color: transparent;
                text-transform: uppercase;
            }
            .middleSide div{
                min-width: 800px;
                width: 70%;
                height: 2px;
                background: #EAEAEA;
            }
        .bottomSide{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            height: 170px;
            width: 100%;
        }
            .bottomSide div{
                min-width: 250px;
                max-width: 370px;
                width: 30%;
            }
                .bottomSide div p{
                    text-align: justify;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                }
        .thirdText{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
            .thirdText button{
                max-width: 370px;
                width: 80%;
                height: 52px;
                background: transparent;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid var(--interactive);
                border-radius: 4px;
                color: var(--interactive);
                font-size: 18px;
                font-weight: 700;
                cursor: pointer;
            }

@media screen and (max-width: 768px){
    .bottomSide div:nth-child(3){
        order: 2;
        width: 45%;
    }
    .bottomSide{
        margin-bottom: 350px;
    }
    .bottomSide div:nth-child(2){
        order: 3;
        width: 45%;
        margin-top: 15px;
    }
    .bottomSide div:nth-child(1){
        order: 1;
        width: 45%;
    }
}


    

/* Organize section */

.organize{
    display: flex;
    justify-content: center;
    background: #fff;
    min-height: 800px;
    margin-bottom: 100px;
    width: 100%;
}
    .main_organize{
        width: 90%;
        height: 100%;
        position: relative;
    }
        .organize_upper{
            width: 100%;
            height: 270px;
            top: -100px;
            position: absolute;

            display: flex;
            justify-content: space-around;
            align-items: center;
        }
            .swipe_left,
            .swipe_right{
                width: 10%;
                cursor: pointer;
            }
            .swiper_main{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                width: 80%;
                height: 100%;
            }
                .swiper_elements{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                }
                    .swiper_elements article{
                        border-top-right-radius: 4px;
                        border-bottom-right-radius: 4px;
                        position: relative;
                        padding: 60px 60px 45px 60px;
                        display: flex;
                        row-gap: 20px;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: space-around;
                        background: var(--background);
                        width: 60%;
                        height: 100%;
                        max-height: 250px;
                    }
                        .swiper_elements article img{
                            position: absolute;
                            top: 38px;
                            right: 65px;
                        }
                        .swiper_elements article h4{
                            color: #fff;
                            font-size: 24px;
                            font-weight: 700;
                        }
                        .swiper_elements article p{
                            color: #fff;
                            font-size: 18px;
                            font-weight: 400;
                            font-style: italic;
                            line-height: 28px;
                        }
                        .swiper_nav{
                            display: flex;
                            width: 100px;
                            justify-content: space-around;
                            align-items: center;
                            min-height: 30px !important;
                            margin-top: 60px;
                        }
                        .swiper_nav div{
                            border-radius: 100%;
                            background: #eaeaea;
                            width: 16px;
                            height: 16px;
                        }
                            .activeDiv{
                                background: var(--interactive) !important;
                            }
/* orginize everything */

.organize_down{
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 500px;
    width: 100%;
    height: 40%;
}
    .down_heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 50px;
    }
        .down_heading h5{
            font-size: 36px;
            text-transform: uppercase;
            color: var(--mainText);
            min-width: 300px;
        }
            .down_heading h5 span{
                -webkit-text-stroke: 1px var(--mainText);
                font-family: sans-serif;
                -webkit-text-fill-color: transparent;
            }
        .down_heading .xett{
            display: flex;
            width: 50%;
            height: 2px;
            background: #eaeaea;
        }
.button:hover{
    color: var(--interactive);
}
.texts{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 14px;
    line-height: 24px;
    width: 100%;
}
    .texts div{
        text-align: justify;
        width: 30%;
    }
        .texts div:nth-child(1){
            color: var(--mainText);
            font-style: italic;
        }
            .texts div:nth-child(1) span{
                font-weight: 900;
            }

.buttons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 35px;
}
    .button{
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 95px;
        border: 2px solid var(--interactive);
        cursor: pointer;
    }
    
        .button p{
            display: flex;
            align-items: center;
        }
        .button p img{
            opacity: 0;
        }
        .button .button_info{
            position: absolute;
            width: 80%;
            height: 100px;
            background: var(--tipBackground);
            top: 100%;
            z-index: 20;
            display: none;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            transition: .4s all ease;
        }
            .button_info img{
                position: absolute;
                top: -8px;
            }
            .button_info span{
                padding: 20px 16px 12px 16px;
                color: #fff;
                font-size: 13px;
                font-weight: 400;
                letter-spacing: 1.1px;
            }

            .button:hover p img{
                opacity: 1;
            }
            .button:hover .button_info{
                display: flex;
            }

@media screen and (max-width: 768px){
        .down_heading .xett{
            width: 5%;
        }
    
        .swipe_left,
        .swipe_right{
            display: none;
        }

        .swiper_main{
            width: 100%;
            font-size: 14px;
        }
        .swiper_main p{
            font-size: 14px !important;
        }
        .swiper_main article{
            width: 100%;
            padding: 10px 10px 10px 10px !important;
            width: 60%;
        }

        .button{
            width: 45%;
        }
        .button p{
            text-align: center;
        }
            .swiper_main img{
                top: 20px !important;
                right: 30px !important;
                width: 40px;
                height: 31px;
            }
        .image{
            width: 195px !important;
            max-height: 195px !important;
            max-width: 195px !important;
            min-width: 195px !important;
            min-height: 195px !important;
            height: 195px !important;
        }
}

.videoSec{
    width: 100%;
    height: 650px;
    background: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}
    .videoSec .leftSide{
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        row-gap: 20px;
    }
        .videoSec .leftSide h6{
            font-size: 44px;
            color: #fff;
            font-weight: 900;
            text-transform: uppercase;
        }
            .videoSec .leftSide h6 span{
                -webkit-text-stroke: 1px #fff;
                -webkit-text-fill-color: transparent;
                font-family: sans-serif;
            }

    
    .leftSide div{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        column-gap: 25px;
        width: 100%;
    }
        .leftSide div img{
            width: 17px;
            height: 13px;
        }
        .leftSide div .video_texts{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            color: #fff;
            font-size: 18px;
            line-height: 28px;
            width: 85%;
            font-weight: 400;
        }
        .leftSide div p{
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;
        }






    .videoSec .rightSide{
        width: 45%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid red;
        height: 100%;
    }
        .play_btn{
            width: 208px;
            height: 208px;
            border-radius: 100%;
            background: var(--interactive);
            opacity: .1;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            border: 2px solid #fff;
        }
        .rightSide button{
            position: absolute;
            box-shadow: none;
            outline: none;
            background-color: var(--interactive);
            width: 120px;
            height: 120px;
            border-radius: 100%;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .rightSide button img{
            background: var(--interactive);
            background-clip: content-box;
            border: none;
            outline: none;
            text-decoration: none;
        }
